html{
    scrollbar-shadow-color: #FFFFFF;
    scrollbar-highlight-color: #FFFFFF;
    scrollbar-arrow-color: #656363;
    scrollbar-face-color: #d1d6f0;
    scrollbar-track-color: #FFFFFF;
    scrollbar-3dlight-color: #59ADBB;
    scrollbar-darkshadow-color: #59ADBB;
}
.tdnormal{
	white-space:normal;
}
.rightcont {
    min-width: 700px; 
}