.s-xguide-down{

    width:50px;

    height:50px;

    display:inline-block;

    position:fixed;

    bottom:80px;

    left:50%;

    background:url("../images/arrow02.png") no-repeat -21px -3px;

    _background:none;

    _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/sign.png",enabled=true,sizingMethod="crop");

    border-radius:50%;

    -moz-border-radius:50%;

    -webkit-border-radius:50%;

    -o-border-radius:50%;

    opacity:.7;

    cursor:pointer

}

@keyframes
xguide_down{

    0%,100%{

        transform:scale(0.0);

        -moz-transform:scale(0.0);

        -o-transform:scale(0.0);

        -webkit-transform:scale(0.0);

        -ms-transform:scale(0.0);

        opacity:0

    }

    50%{

        transform:scale(1.0);

        -moz-transform:scale(1.0);

        -o-transform:scale(1.0);

        -webkit-transform:scale(1.0);

        -ms-transform:scale(1.0);

        opacity:1

    }

 

}

@-webkit-keyframes
xguide_down{

    0%,100%{

        -webkit-transform:scale(0.0);

        -moz-transform:scale(0.0);

        -o-transform:scale(0.0);

        -ms-transform:scale(0.0);

        transform:scale(0.0);

        opacity:0

    }

    50%{

        -webkit-transform:scale(1.0);

        -moz-transform:scale(1.0);

        -o-transform:scale(1.0);

        -ms-transform:scale(1.0);

        transform:scale(1.0);

        opacity:1

    }

 

}

@-moz-keyframes
xguide_down{

    0%,100%{

        -moz-transform:scale(0.0);

        -o-transform:scale(0.0);

        -webkit-transform:scale(0.0);

        -ms-transform:scale(0.0);

        transform:scale(0.0);

        opacity:0

    }

    50%{

        -moz-transform:scale(1.0);

        -o-transform:scale(1.0);

        -webkit-transform:scale(1.0);

        -ms-transform:scale(1.0);

        transform:scale(1.0);

        opacity:1

    }

 

}

@-o-keyframes
xguide_down{

    0%,100%{

        -o-transform:scale(0.0);

        -moz-transform:scale(0.0);

        -webkit-transform:scale(0.0);

        -ms-transform:scale(0.0);

        transform:scale(0.0);

        opacity:0

    }

    50%{

        -o-transform:scale(1.0);

        -moz-transform:scale(1.0);

        -webkit-transform:scale(1.0);

        -ms-transform:scale(1.0);

        transform:scale(1.0);

        opacity:1

    }

 

}

.s-xguide-down.trans{

    -webkit-animation:xguide_down
4.0s
infinite
ease-in-out;

    -moz-animation:xguide_down
4.0s
infinite
ease-in-out;

    -o-animation:xguide_down
4.0s
infinite
ease-in-out;

    animation:xguide_down
4.0s
infinite
ease-in-out

}

.s-xguide-down.arrow-1{

    animation-delay:-2.0s;

    -webkit-animation-delay:-2.0s;

    -moz-animation-delay:-2.0s;

    -o-animation-delay:-2.0s

}