<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:javaee="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd" version="2.4">
  <display-name>RIPED PMS Base Platform</display-name>
  <description>RIPED PMS Base Platform</description>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>classpath*:/conf/appContext.xml,
		classpath*:/conf/appContext-database.xml,
		classpath*:/conf/appContext-mongo.xml,
		classpath*:/conf/appContext-third.xml</param-value>
  </context-param>
  <context-param>
    <param-name>LogbaseConfigLocation</param-name>
    <param-value>/conf/logging.xml</param-value>
  </context-param>
  <context-param>
    <param-name>DominativeConfigPackage</param-name>
    <param-value>RIPEDPMS</param-value>
  </context-param>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>com.cnpc.pms.base.common.action.DispatcherAction</servlet-class>
    <init-param>
      <param-name>audit</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/dispatcher.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>expInfoUpload</servlet-name>
    <servlet-class>com.cnpc.pms.base.common.action.UploaderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>expInfoUpload</servlet-name>
    <url-pattern>/expInfoUpload.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploaderAction</servlet-name>
    <servlet-class>com.cnpc.pms.base.common.action.UploaderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploaderAction</servlet-name>
    <url-pattern>/uploaderAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>appUploaderAction</servlet-name>
    <servlet-class>com.cnpc.pms.base.common.action.AppUploaderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>appUploaderAction</servlet-name>
    <url-pattern>/AppUploaderAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloaderAction</servlet-name>
    <servlet-class>com.cnpc.pms.base.common.action.DownloaderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloaderAction</servlet-name>
    <url-pattern>/DownloaderAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>showerAction</servlet-name>
    <servlet-class>com.cnpc.pms.base.common.action.ShowerAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>showerAction</servlet-name>
    <url-pattern>/showerAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>suggest</servlet-name>
    <servlet-class>com.cnpc.pms.base.common.action.SuggestAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>suggest</servlet-name>
    <url-pattern>/autocomplete.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginAction</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.LoginAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginAction</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutAction</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutAction</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImageServlet</servlet-name>
    <servlet-class>net.sf.jasperreports.j2ee.servlets.ImageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImageServlet</servlet-name>
    <url-pattern>/servlets/image</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>report</servlet-name>
    <servlet-class>com.cnpc.pms.base.extension.RipedReportAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>/report.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>report</servlet-name>
    <url-pattern>/report.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cxf</servlet-name>
    <servlet-class>org.apache.cxf.transport.servlet.CXFServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>cxf</servlet-name>
    <url-pattern>/services/*</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>encodingFilter</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  
  <filter>
    <filter-name>CAS Single Sign Out Filter</filter-name>
    <filter-class>org.jasig.cas.client.session.SingleSignOutFilter</filter-class>
  </filter>
  <filter>
    <filter-name>CAS Authentication Filter</filter-name>
    <filter-class>org.jasig.cas.client.authentication.AuthenticationFilter</filter-class>
    <init-param>
      <param-name>casServerLoginUrl</param-name>
      <param-value>http://10.16.31.229:8080/cas/login</param-value>
    </init-param>
    <init-param>
      <param-name>serverName</param-name>
      <param-value>http://10.16.31.80:8080</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>CAS Validation Filter</filter-name>
    <filter-class>org.jasig.cas.client.validation.Cas20ProxyReceivingTicketValidationFilter</filter-class>
    <init-param>
      <param-name>casServerUrlPrefix</param-name>
      <param-value>http://10.16.31.229:8080/cas</param-value>
    </init-param>
    <init-param>
      <param-name>serverName</param-name>
      <param-value>http://10.16.31.80:8080</param-value>
    </init-param>
    <init-param>
      <param-name>redirectAfterValidation</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <filter-class>org.jasig.cas.client.util.HttpServletRequestWrapperFilter</filter-class>
  </filter>
  <filter>
    <filter-name>CAS Assertion Thread Local Filter</filter-name>
    <filter-class>org.jasig.cas.client.util.AssertionThreadLocalFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CAS Single Sign Out Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Authentication Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Validation Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS HttpServletRequest Wrapper Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>CAS Assertion Thread Local Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.jasig.cas.client.session.SingleSignOutHttpSessionListener</listener-class>
  </listener>
  
  
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.chart</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>encodingFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>hibernateFilter</filter-name>
    <filter-class>org.springframework.orm.hibernate3.support.OpenSessionInViewFilter</filter-class>
    <init-param>
      <param-name>sessionFactoryBeanName</param-name>
      <param-value>sessionFactory</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>hibernateFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>hibernateFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>hibernateFilter</filter-name>
    <url-pattern>/services/*</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>hibernateFilter</filter-name>
    <url-pattern>*.chart</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>initialFilter</filter-name>
    <filter-class>com.cnpc.pms.base.common.filter.I18NFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>initialFilter</filter-name>
    <url-pattern>*.chart</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>initialFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>initialFilter</filter-name>
    <url-pattern>*.do</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>initialFilter</filter-name>
    <url-pattern>*.js</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>initialFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>initialFilter</filter-name>
    <url-pattern>*.htm</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>initialFilter</filter-name>
    <url-pattern>/services/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>authFilter</filter-name>
    <filter-class>com.cnpc.pms.bizbase.filter.AuthFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>authFilter</filter-name>
    <url-pattern>*.action</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>authFilter</filter-name>
    <url-pattern>*.chart</url-pattern>
  </filter-mapping>
  <filter-mapping>
    <filter-name>authFilter</filter-name>
    <url-pattern>*.html</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.util.IntrospectorCleanupListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.cnpc.pms.base.common.filter.PMSContextLoaderListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>DisplayChart</servlet-name>
    <servlet-class>
			org.jfree.chart.servlet.DisplayChart
		</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayChart</servlet-name>
    <url-pattern>/servlet/DisplayChart</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>picture</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.PictureAction</servlet-class>
    <init-param>
      <param-name>audit</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>picture</servlet-name>
    <url-pattern>/picture</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadExcel</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.DownloadAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadExcel</servlet-name>
    <url-pattern>/downloadExcel.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>excelUpload</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.UpLoadExcelAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>excelUpload</servlet-name>
    <url-pattern>/excelUpload.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadGatherAction</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.UploadGatherInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadGatherAction</servlet-name>
    <url-pattern>/excelGatherUpload.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadExceptionFileAction</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.UploadExceptionFileAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadExceptionFileAction</servlet-name>
    <url-pattern>/exceptionFileUpload.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadBannerInfoAction</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.UploadBannerInfoAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadBannerInfoAction</servlet-name>
    <url-pattern>/bannerInfoUpload.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadStoreFileAction</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.UploadStoreFileAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadStoreFileAction</servlet-name>
    <url-pattern>/uploadStoreFileAction.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downLoadTemplate</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.DownloadTempateAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downLoadTemplate</servlet-name>
    <url-pattern>/downLoadTemplate.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadFile</servlet-name>
    <servlet-class>com.cnpc.pms.upload.action.UploadFileAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFile</servlet-name>
    <url-pattern>/fileUpload.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadSelectionFile</servlet-name>
    <servlet-class>com.cnpc.pms.upload.action.UploadSiteSelectionAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadSelectionFile</servlet-name>
    <url-pattern>/selectionFileUpload.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>downloadFile</servlet-name>
    <servlet-class>com.cnpc.pms.upload.action.DownloadFileAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downloadFile</servlet-name>
    <url-pattern>/downloadFile.action</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>abnormalOrderUpload</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.uploadAbnormalOrderAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>abnormalOrderUpload</servlet-name>
    <url-pattern>/uploadOrderExcel.action</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>uploadVacationFileAction</servlet-name>
    <servlet-class>com.cnpc.pms.bizbase.action.UploadVacationFileAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadVacationFileAction</servlet-name>
    <url-pattern>/vacationFileUpload.action</url-pattern>
  </servlet-mapping>
  
</web-app>